/* Header */

#header {
	background: #666;
	padding: 3px;
  padding: 10px 20px;
  color: #fff;
  position: sticky;
}

.fixed {
	position: fixed;
	top: 0;
	width: 100%;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix.container-fluid {
  padding-top: 300px;
}

header, footer {
  background-color: #285130;
  /*width: 1000px;
  margin: 0 auto;*/
}

.main h1 {
  font-family: 'IM Fell Great Primer', serif;
}

.main h1, .main p {
  color: #fff;
  position: relative;
  top: 100px;
  left: 10%;
}

.row {
  margin: 8px 0;
}

/* Jumbotron */
.main {
  background-color: #caf7c8;
  top: 0;
  z-index: 10;
  height: 300px;
  margin: 0 auto;
  background-image: url("../webPics/WooColor3Box.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  filter: grayscale(100%);
  animation-name: greyToColor;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes greyToColor {
  0% {filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);}
  20% {filter: grayscale(80%); -webkit-filter: grayscale(80%); -moz-filter: grayscale(80%);}
  40% {filter: grayscale(60%); -webkit-filter: grayscale(60%); -moz-filter: grayscale(60%);}
  60% {filter: grayscale(40%); -webkit-filter: grayscale(40%); -moz-filter: grayscale(40%);}
  80% {filter: grayscale(20%); -webkit-filter: grayscale(20%); -moz-filter: grayscale(20%);}
  100% {filter: grayscale(0%); -webkit-filter: grayscale(0%); -moz-filter: grayscale(0%);}
}

/* Photos Pages */
#quiltCarousel {
  margin: 0 auto;
  width: 70%;
  height: auto;
}

#carouselBackground {
  background-color: #223428;
}

.roadRace {
	image-orientation: 90deg;
}
/* Testimonials Page */
.testContainer {
  padding-top: 20px;
  margin: 0 auto;
}

#testCarouselOne {
  max-height: 50%;
  max-width: 50%;
}

/* Types Page */
#bio, #generalInfo, #memoryInfo {
  margin: 0 0 2% 0;
}

/* FAQ section */
#FAQ {
  font-weight: bold;
  font-size: 35px;
}

/* Contact Page */
form {
  margin: 2% 0 5% 0;
}

#formText {
  margin: 1% 0;
}

/*Footer*/
footer.navbar-text {
  margin: auto 0;
}

footer ul {
  margin: 0 0 0 50%;
}

@media only screen and (max-width: 480px) {
  footer.navbar-text {
    display: none;
  }
}

#lightSlider {
	max-width: 1000px;
}
